<!-- Update the document with widgets found at http://www.meetup.com/meetup_api/foundry/ to add new Meetups -->

<!-- WARNING: The server throttles with too many requests. Not sure how to get around this :( RIP code -->

<html>
<head>
</head>
<body>

<h3>Meetup Groups - General Coding</h3>

	<!-- Code Oregon -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lf9g3" frameborder="0"></iframe></span>

	<!-- PDX Web Development -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lf9kS" frameborder="0"></iframe></span>

	<!-- Treehouse Portland -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfb7L" frameborder="0"></iframe></span>

	<!-- PDX Web and Design -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfbg4" frameborder="0"></iframe></span>

	<!-- Portland Code School Learning and Development Group -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfbjb" frameborder="0"></iframe></span>

	<!-- PDX Tech 4 Good -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2LfbkR" frameborder="0"></iframe></span>

<h3>Meetup Groups - Code- and Technology-Specific</h3>

	<!-- PDX PHP -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfbn9" frameborder="0"></iframe></span>

	<!-- PDX WordPress -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfbs4" frameborder="0"></iframe></span>

	<!-- Hello Drupal -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2LfbvB" frameborder="0"></iframe></span>

	<!-- PDX Sass -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2LfbRH" frameborder="0"></iframe></span>

	<!-- Portland TypeScript -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2LfbT8" frameborder="0"></iframe></span>

<h3>Meetup Groups - For Women</h3>

	<!-- Women Who Code Portland -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2LfbYw" frameborder="0"></iframe></span>

	<!-- ChickTech Portland -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfc0Q" frameborder="0"></iframe></span>

	<!-- Girl Develop It Portland -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfc2p" frameborder="0"></iframe></span>

	<!-- Women Who Hack -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfc4Z" frameborder="0"></iframe></span>

	<!-- Navigate IT Skill Lab for Women -->
	<span class="widget"><iframe width="225" height="570" src="http://meetu.ps/2Lfc6V" frameborder="0"></iframe></span>

</body>
</html>